* {
    box-sizing: border-box;
    font-family: 'Cardo', serif;
    margin: 0;
}

body {
    background-color: rgb(29, 29, 29);
}

header {
    padding-bottom: 30px;
    padding-top: 50px;
}

h1 {
    color: #C5EFF7;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    margin: auto;
}

.quiz-title {
    height: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("images/headlights.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 1px 1px 50px 10px #C5EFF7;
    border-radius: 20%;
}

.quest-score {
    background-color: rgb(73, 73, 73);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 55px;
    line-height: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

form {
    background-color: rgb(73, 73, 73);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 90%;
    height: fit-content;
}

fieldset {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    color: rgb(144, 229, 255);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
}

.new-options {
    color: white;
    font-size: 15px;
    padding-top: 10px;
    margin-left: 50px;
    text-shadow: 5px 1px 10px rgb(0, 0, 0);
}

button {
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    width: 20%;
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

.answer-image {
    width: 50%;
    box-shadow: 1px 1px 10px 5px rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
}

.right-answer-text {
    color: rgb(0, 204, 0);
    text-shadow: 5px 1px 10px rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.wrong-answer-text {
    color: rgb(221, 0, 0);
    text-shadow: 5px 1px 10px rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.correction {
    color: white;
    font-size: 25px;
}

.answer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 20px;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.result-text {
    font-size: 30px;
}

@media screen and (min-width: 900px) {
    h1 {
        color: #C5EFF7;
        font-size: 60px;
        font-weight: 500;
        text-align: center;
        line-height: 70px;
        margin: auto;
    }
    .quiz-title {
        height: 150px;
        width: 80%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        background-image: url("images/headlights.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        box-shadow: 1px 1px 50px 10px #C5EFF7;
        border-radius: 20%;
    }
    .quest-score {
        background-color: rgb(73, 73, 73);
        color: rgb(255, 255, 255);
        border: 2px solid black;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        width: 80%;
        max-width: 900px;
        height: 75px;
        line-height: 70px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }
    form {
        width: 90%;
        max-width: 800px;
        background-color: rgb(73, 73, 73);
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        height: fit-content;
    }
    fieldset {
        padding: 40px;
        display: flex;
        justify-content: center;
    }
    p {
        color: rgb(144, 229, 255);
        text-shadow: 1px 1px 3px rgb(0, 0, 0);
        font-size: 30px;
        font-weight: 300;
        text-align: center;
    }
    .new-options {
        color: white;
        font-size: 25px;
        padding-top: 10px;
        margin-left: 50px;
        text-shadow: 5px 1px 10px rgb(0, 0, 0);
    }
    button {
        margin-left:auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 5px;
        border: 2px solid black;
        border-radius: 10px;
        width: 150px;
        height: 80px;
        font-size: 25px;
        font-weight: 700;
        color: blue;
    }
    button:hover {
        background-color: green;
        color: white;
        transition: 0.3s;
        border: 2px solid white;
        box-shadow: 1px 1px 50px 10px #C5EFF7;
        cursor: pointer;
    }
    .answer-image {
        width: 80%;
        box-shadow: 1px 1px 10px 5px rgb(255, 255, 255);
        margin-left: auto;
        margin-right: auto;
    }
    .right-answer-text {
        color: rgb(0, 204, 0);
        text-shadow: 5px 1px 10px rgb(0, 0, 0);
        font-size: 75px;
        font-weight: bold;
        text-align: center;
        padding-top: 20px;
    }
    .wrong-answer-text {
        color: rgb(221, 0, 0);
        text-shadow: 5px 1px 10px rgb(0, 0, 0);
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .correction {
        color: white;
        font-size: 40px;
    }
    .result-text {
        font-size: 50px;
    }
}