* {
    box-sizing: border-box;
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
}

.quest-score {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

main {
    width: 70%;
    margin: auto;
}

form {
    margin-top: 50px;
}

fieldset {
    padding: 50px;
    display: flex;
    justify-content: center;
}

button {
    margin-left:auto;
    margin-right: auto;
    padding: 10px;
}